<div class="customer">
  <% if customer.image.attached? %>
    <%= image_tag rails_blob_path(customer.image, only_path: true) %>
  <% end %>
  <div class="customer-details">
    <h3><%= customer.full_name %></h3>
    <p><strong>Phone:</strong> <%= customer.phone_number %></p>
    <% if customer.email.present? %>
      <p><strong>Email:</strong> <%= customer.email %></p>
    <% else %>
      <p><strong>Email:</strong> N/A</p>
    <% end %>
    <p><strong>Notes:</strong> <%= customer.notes %></p>
  </div>
</div>
